In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/section4_data_v2.csv', index_col=0)
df1

,asin,reviewText,overall,summary,tokens
0,0689027818,This beautifully illustrated book featuring te...,5.0,A sweet book for babies and toddlers,"['beautifully', 'illustrate', 'book', 'feature..."
1,0689027818,I got this as a gift for my niece and she love...,5.0,Super cute niece present,"['get', 'gift', 'niece', 'love', 'super', 'cut..."
2,0689027818,This is the story of a group of butterflies lo...,5.0,My little one absolutely loved this book,"['story', 'group', 'butterfly', 'look', 'place..."
3,0689027818,This book is absolutely beautiful. A brilliant...,5.0,My Daughter's New Favorite,"['book', 'absolutely', 'beautiful', 'brilliant..."
4,0689027818,My daughter 1 year old really likes this book....,5.0,My daughter loves it,"['daughter', '1', 'year', 'old', 'like', 'book..."
...,...,...,...,...,...
56828,B00LAI4UYS,This set is just what I have been looking for ...,5.0,Very attractive ceramic knife set with stylish...,"['set', 'look', 'ceramic', 'knife', 'like', 'k..."
56829,B00LAI4UYS,I was very excited to get to try theZhuhai Pre...,5.0,Great For Slicing...,"['excited', 'try', 'theZhuhai', 'Premium', 'Ce..."
56830,B00LAI4UYS,I received this set as a review sample and fin...,5.0,Right tool for the right job,"['receive', 'set', 'review', 'sample', 'find',..."
56831,B00LAI4UYS,This is a three piece ceramic blade set. You g...,5.0,Super Sharp,"['piece', 'ceramic', 'blade', 'set', '5.5', 'i..."
56832,B00LAI4UYS,"Awesome sharpness. Simple, and elegant. Loved...",5.0,Awesome sharpness. Simple,"['awesome', 'sharpness', 'Simple', 'elegant', ..."

In [ ]:
df1['token_len'] = df1['tokens'].apply(lambda x: len(eval(x)))
df1

,asin,reviewText,overall,summary,tokens,token_len
0,0689027818,This beautifully illustrated book featuring te...,5.0,A sweet book for babies and toddlers,"['beautifully', 'illustrate', 'book', 'feature...",29
1,0689027818,I got this as a gift for my niece and she love...,5.0,Super cute niece present,"['get', 'gift', 'niece', 'love', 'super', 'cut...",11
2,0689027818,This is the story of a group of butterflies lo...,5.0,My little one absolutely loved this book,"['story', 'group', 'butterfly', 'look', 'place...",46
3,0689027818,This book is absolutely beautiful. A brilliant...,5.0,My Daughter's New Favorite,"['book', 'absolutely', 'beautiful', 'brilliant...",65
4,0689027818,My daughter 1 year old really likes this book....,5.0,My daughter loves it,"['daughter', '1', 'year', 'old', 'like', 'book...",39
...,...,...,...,...,...,...
56828,B00LAI4UYS,This set is just what I have been looking for ...,5.0,Very attractive ceramic knife set with stylish...,"['set', 'look', 'ceramic', 'knife', 'like', 'k...",88
56829,B00LAI4UYS,I was very excited to get to try theZhuhai Pre...,5.0,Great For Slicing...,"['excited', 'try', 'theZhuhai', 'Premium', 'Ce...",95
56830,B00LAI4UYS,I received this set as a review sample and fin...,5.0,Right tool for the right job,"['receive', 'set', 'review', 'sample', 'find',...",113
56831,B00LAI4UYS,This is a three piece ceramic blade set. You g...,5.0,Super Sharp,"['piece', 'ceramic', 'blade', 'set', '5.5', 'i...",97
56832,B00LAI4UYS,"Awesome sharpness. Simple, and elegant. Loved...",5.0,Awesome sharpness. Simple,"['awesome', 'sharpness', 'Simple', 'elegant', ...",15

In [ ]:
df1 = df1[df1['token_len']>2].reset_index(drop=True)
df1

,asin,reviewText,overall,summary,tokens,token_len
0,0689027818,This beautifully illustrated book featuring te...,5.0,A sweet book for babies and toddlers,"['beautifully', 'illustrate', 'book', 'feature...",29
1,0689027818,I got this as a gift for my niece and she love...,5.0,Super cute niece present,"['get', 'gift', 'niece', 'love', 'super', 'cut...",11
2,0689027818,This is the story of a group of butterflies lo...,5.0,My little one absolutely loved this book,"['story', 'group', 'butterfly', 'look', 'place...",46
3,0689027818,This book is absolutely beautiful. A brilliant...,5.0,My Daughter's New Favorite,"['book', 'absolutely', 'beautiful', 'brilliant...",65
4,0689027818,My daughter 1 year old really likes this book....,5.0,My daughter loves it,"['daughter', '1', 'year', 'old', 'like', 'book...",39
...,...,...,...,...,...,...
56725,B00LAI4UYS,This set is just what I have been looking for ...,5.0,Very attractive ceramic knife set with stylish...,"['set', 'look', 'ceramic', 'knife', 'like', 'k...",88
56726,B00LAI4UYS,I was very excited to get to try theZhuhai Pre...,5.0,Great For Slicing...,"['excited', 'try', 'theZhuhai', 'Premium', 'Ce...",95
56727,B00LAI4UYS,I received this set as a review sample and fin...,5.0,Right tool for the right job,"['receive', 'set', 'review', 'sample', 'find',...",113
56728,B00LAI4UYS,This is a three piece ceramic blade set. You g...,5.0,Super Sharp,"['piece', 'ceramic', 'blade', 'set', '5.5', 'i...",97
56729,B00LAI4UYS,"Awesome sharpness. Simple, and elegant. Loved...",5.0,Awesome sharpness. Simple,"['awesome', 'sharpness', 'Simple', 'elegant', ...",15

In [ ]:
import re

In [ ]:
def clear(text):

  tokens = re.sub(r'[^a-zA-Z ]','',text)
  tokens = tokens.lower()

  return tokens

In [ ]:
df1['sentence']=df1['tokens'].apply(clear)
df1

,asin,reviewText,overall,summary,tokens,token_len,sentence
0,0689027818,This beautifully illustrated book featuring te...,5.0,A sweet book for babies and toddlers,"['beautifully', 'illustrate', 'book', 'feature...",29,beautifully illustrate book feature colorful g...
1,0689027818,I got this as a gift for my niece and she love...,5.0,Super cute niece present,"['get', 'gift', 'niece', 'love', 'super', 'cut...",11,get gift niece love super cute book ill get ni...
2,0689027818,This is the story of a group of butterflies lo...,5.0,My little one absolutely loved this book,"['story', 'group', 'butterfly', 'look', 'place...",46,story group butterfly look place sleep differe...
3,0689027818,This book is absolutely beautiful. A brilliant...,5.0,My Daughter's New Favorite,"['book', 'absolutely', 'beautiful', 'brilliant...",65,book absolutely beautiful brilliant bedtime st...
4,0689027818,My daughter 1 year old really likes this book....,5.0,My daughter loves it,"['daughter', '1', 'year', 'old', 'like', 'book...",39,daughter year old like book buy similarity l...
...,...,...,...,...,...,...,...
56725,B00LAI4UYS,This set is just what I have been looking for ...,5.0,Very attractive ceramic knife set with stylish...,"['set', 'look', 'ceramic', 'knife', 'like', 'k...",88,set look ceramic knife like knife attractive s...
56726,B00LAI4UYS,I was very excited to get to try theZhuhai Pre...,5.0,Great For Slicing...,"['excited', 'try', 'theZhuhai', 'Premium', 'Ce...",95,excited try thezhuhai premium ceramic knife se...
56727,B00LAI4UYS,I received this set as a review sample and fin...,5.0,Right tool for the right job,"['receive', 'set', 'review', 'sample', 'find',...",113,receive set review sample find useful applicat...
56728,B00LAI4UYS,This is a three piece ceramic blade set. You g...,5.0,Super Sharp,"['piece', 'ceramic', 'blade', 'set', '5.5', 'i...",97,piece ceramic blade set inch knife inch pari...
56729,B00LAI4UYS,"Awesome sharpness. Simple, and elegant. Loved...",5.0,Awesome sharpness. Simple,"['awesome', 'sharpness', 'Simple', 'elegant', ...",15,awesome sharpness simple elegant love welcome ...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vect = TfidfVectorizer(stop_words='english', ngram_range=(1,3), min_df=4,max_df=0.7, max_features=20000)

dtm_tfidf_amazon = tfidf_vect.fit_transform(df1['sentence'])

dtm_tfidf_amazon = pd.DataFrame(dtm_tfidf_amazon.todense(), columns=tfidf_vect.get_feature_names())
dtm_tfidf_amazon

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aa,aa battery,aaa,aaa battery,ability,able,able buy,able clean,able cook,able cut,...,ziploc bag,ziplock,ziplock bag,zipper,zippered,zojirushi,zombie,zone,zucchini,zyliss
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.083027,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56725,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56726,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56727,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56728,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56729,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
dtm_tfidf_amazon.to_csv('/content/drive/MyDrive/section4_vector_data.csv')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/section4_vector_data.csv', index_col=0)
df

KeyboardInterrupt: ignored

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
nn = NearestNeighbors(n_neighbors=10, algorithm='kd_tree')
nn.fit(dtm_tfidf_amazon)

NearestNeighbors(algorithm='kd_tree', n_neighbors=10)

In [ ]:
qusetion1 = int(input('검색할 리뷰 번호를 입력하세요 '))
index1 = nn.kneighbors([dtm_tfidf_amazon.iloc[qusetion1]])[1]
df1.loc[index1[0]][{'asin','reviewText','summary'}]

검색할 리뷰 번호를 입력하세요 1

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

,reviewText,asin,summary
1,I got this as a gift for my niece and she love...,0689027818,Super cute niece present
43032,So fancy and cute to keep makeup and other ite...,B005GY99UW,Cosmetic bag
52467,A great hit with my little niece who loves My ...,B00B3UY16A,My Little Pony
29837,bought this for my niece and she just loves we...,B002RSGN3Q,soft comfty
46401,bought this as a Christmas gift for my niece....,B0073J9K0W,gift
54971,MY NIECE WILL LOVE THESE TO AND THEY WILL MATC...,B00EDJ2E8K,WEDDING GIFT
51986,My niece loved this travel mug and took it to ...,B00AJG6QCG,A gift for a family member
42344,This was a shower present for my Niece and she...,B005D6FWAY,Great
27537,I gave this pot to my niece as a gift for her ...,B002CGSYB2,Bought as a gift.
43873,I got this for my niece for Christmas and it i...,B005PFOMQ8,Soo adorable

In [ ]:
#sentence bert

In [ ]:
pip install -U sentence-transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sentence-transformers
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     |████████████████████████████████| 85 kB 4.7 MB/s
Collecting transformers<5.0.0,>=4.6.0
  Downloading transformers-4.25.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 57.3 MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (4.64.1)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.12.1+cu113)
Requirement already satisfied: torchvision in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (0.13.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (1.7.3)
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (from sentence-transformers) (3.7)
Collecting sentencepiece
  Downloading sentencepiece-0.1.97-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 62.7 MB/s
Collecting huggingface-hub>=0.4.0
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 78.0 MB/s
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.1.1)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence-transformers) (3.0.9)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 67.3 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from torchvision->sentence-transformers) (7.1.2)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125938 sha256=041d0a9bbbdcd8346e3f01e8b40354a94c57b5f440b29f28d0a6c64daf56d991
  Stored in directory: /root/.cache/pip/wheels/5e/6f/8c/d88aec621f3f542d26fac0342bef5e693335d125f4e54aeffe
Successfully built sentence-transformers
Installing collected packages: tokenizers, huggingface-hub, transformers, sentencepiece, sentence-transformers
Successfully installed huggingface-hub-0.11.1 sentence-transformers-2.2.2 sentencepiece-0.1.97 tokenizers-0.13.2 transformers-4.25.1

In [ ]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('all-mpnet-base-v2')


sentences = df1['sentence']

paraphrases = util.paraphrase_mining(model, sentences,corpus_chunk_size=len(sentences),show_progress_bar=True,top_k=9,batch_size=64)

Batches:   0%|          | 0/887 [00:00<?, ?it/s]

In [ ]:
len(paraphrases)

406988

In [ ]:
dict = {}

for score, i, j in paraphrases:
  if i not in dict.keys():
    dict[i] = [j]
  else:
    dict[i].append(j)

In [ ]:
len(dict)

56175

In [ ]:
search_df = pd.DataFrame(data=zip(dict.keys(),dict.values()),columns=['key','value']).sort_values(by='key').reset_index(drop=True)
search_df

         key                                              value
0          0  [3, 2, 4, 28009, 50151, 12080, 46419, 33836, 3...
1          1  [43873, 46401, 20016, 35156, 20064, 50152, 397...
2          2                                      [3, 4, 50151]
3          3       [4, 50151, 28009, 45880, 46472, 46473, 2152]
4          4         [23617, 31049, 50152, 15024, 50151, 46885]
...      ...                                                ...
56170  56724  [45477, 17281, 13092, 56009, 54075, 13946, 229...
56171  56725           [56726, 56728, 40552, 1523, 2011, 53889]
56172  56726  [40114, 56728, 2011, 1523, 8605, 35535, 48139,...
56173  56728                              [56727, 26827, 35535]
56174  56729    [36037, 473, 11954, 13143, 38633, 18362, 27486]

[56175 rows x 2 columns]

In [ ]:
qusetion = int(input('검색할 리뷰 번호를 입력하세요 '))
a = list(search_df[search_df['key']==qusetion]['value'])
df1.loc[a[0]][{'asin','reviewText','summary'}]

검색할 리뷰 번호를 입력하세요 1

,reviewText,asin,summary
43873,I got this for my niece for Christmas and it i...,B005PFOMQ8,Soo adorable
46401,bought this as a Christmas gift for my niece....,B0073J9K0W,gift
20016,"First of all, this was bought as a gift for my...",B0015EPQH2,Hello Kitty blanket
35156,Bought this for granddaughter to take to sleep...,B003WJQ2KI,Super cute laundry bag!
20064,I sent these to my niece and she loves the set...,B0015MPDXG,so cute.
50152,I got this for my niece last Christmas and it ...,B008YQ4UGW,Great present for pre-teen
39779,"I bought this as a gift, my niece said her dau...",B004S34TIO,very cute
5836,Bought this for my niece so she can learn the ...,B00023NHVY,useful and cute!
20082,I bought it to give to my sister as a birthday...,B0015MU8WW,My sister LOVE IT!!!!